/* stylelint-disable no-descending-specificity */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

.content {
  display: grid;
  grid-template-columns: 711px 399px;
  justify-content: space-between;
  align-items: stretch;
  justify-items: stretch;
  box-sizing: border-box;
  gap: 30px;
  grid-template-areas: 'result content__details';
}

.result {
  display: grid;
  height: 100%;
  justify-items: stretch;
  align-items: end;
  grid-area: result;
  gap: 16px;
  padding-top: 70px;
}

.result__video-container {
  max-inline-size: 711px;
  block-size: 386px;
  margin: 0;
  padding: 0;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  height: 54px;
}

.content__details {
  display: flex;
  align-self: start;
  gap: 20px;
  grid-area: content__details;
  flex-direction: column;
  justify-content: start;
}

.content__list-container {
  overflow: hidden auto;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  max-height: 300px;
  max-width: 399px;
}

.content__list {
  display: grid;
  gap: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  box-sizing: border-box;
  width: 100%;
  height: auto;
}

.content__video-card-title {
  color: #fff;
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: 100%; /* 30px */
  text-transform: uppercase;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.content__video-card-description {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  line-clamp: 4;
  overflow: hidden;
  text-transform: none;
  align-self: stretch;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px; /* 90% */
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  flex-grow: 1;
  padding: 4px 0;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.content__list-item {
  padding: 0 3px;
}

.content__card-link {
  display: block;
  width: auto;
  height: 100%;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
}

.content__card-link_current > .content__video-card {
  background-color: #545050;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible .content__video-card {
  outline: 1px solid #fff;
  outline-offset: 3px;
}

.title {
  font-family: Oswald, Arial, sans-serif;
  font-size: 75px;
  font-style: normal;
  font-weight: 700;
  line-height: 94%;
  text-transform: uppercase;
  max-height: 210px;
}

.content__accent {
  color: #545050;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: fit-content;
  border: none;
  height: 100%;
}

.search-form__fieldset-title {
  display: inline-block;
  inline-size: 100%;
  max-inline-size: 212px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__label {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
  gap: 5px;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

fieldset {
  border: none;
}

.search-form__textfield {
  display: flex;
  width: 225px;
  height: 27px;
  align-items: center;
  gap: 10px;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  appearance: none;
  color: #fff;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: transparent;
}

.search-form__textfield::placeholder {
  /* stylelint-disable-next-line color-function-notation */
  color: rgba(255, 255, 255, 0.7);
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.search-form__textfield:focus {
  border: none;
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
}

.search-form__pseudo-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 19px;
  height: 19px;
  border: 1px solid #fff;
}

:checked + .search-form__pseudo-checkbox::after {
  content: '';
  display: block;
  width: 15px;
  height: 15px;
  background-color: #fff;
}

.search-form__label:has(input[type='checkbox']):hover,
.button:hover {
  text-decoration: underline solid #fff;
  text-decoration-skip-ink: none;
  text-underline-position: from-font;
}


.content__card-link:hover {
  text-decoration: underline solid #fff;
  text-decoration-skip-ink: none;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: transparent;
  padding: 6px 0;
  min-width: 194px;
  border: 1px solid #fff;
  color: #fff;
  text-align: center;
  font-family: 'Fira Sans Condensed', Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.more-button {
  margin-top: 30px;
  width: 100%;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:active {
  background-color: #545050;
  border: 1px solid #fff;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

ul,
ol {
  list-style: none;
}

button,
a,
input[type='checkbox'],
input[type='radio'],
.content__video-card,
.search-form__label-text,
.search-form__label {
  cursor: pointer;
}

.result__video-container,
.content__list-container {
  position: relative;
}
/* Кастомный скроллбар */

.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 0.1);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}
